TheCatApp/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP_GET_cat_facts": {
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "https://cat-fact.herokuapp.com/facts"
                },
                "runAfter": {}
            },
            "Parse_JSON_cat_facts": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_GET_cat_facts')",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "properties": {
                                        "verified": {
                                            "type": "boolean"
                                        },
                                        "sentCount": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "type": {
                                    "type": "string"
                                },
                                "deleted": {
                                    "type": "boolean"
                                },
                                "_id": {
                                    "type": "string"
                                },
                                "user": {
                                    "type": "string"
                                },
                                "text": {
                                    "type": "string"
                                },
                                "__v": {
                                    "type": "integer"
                                },
                                "source": {
                                    "type": "string"
                                },
                                "updatedAt": {
                                    "type": "string"
                                },
                                "createdAt": {
                                    "type": "string"
                                },
                                "used": {
                                    "type": "boolean"
                                }
                            },
                            "required": [
                                "status",
                                "type",
                                "deleted",
                                "_id",
                                "user",
                                "text",
                                "__v",
                                "source",
                                "updatedAt",
                                "createdAt",
                                "used"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "HTTP_GET_cat_facts": [
                        "Succeeded"
                    ]
                }
            },
            "HTTP_GET_cat_image": {
                "type": "Http",
                "inputs": {
                    "method": "GET",
                    "uri": "https://api.thecatapi.com/v1/images/search"
                },
                "runAfter": {}
            },
            "Create_HTML_table": {
                "type": "Table",
                "inputs": {
                    "from": "@body('Select_cat_facts')",
                    "format": "HTML"
                },
                "runAfter": {
                    "Select_cat_facts": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON_cat_image": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_GET_cat_image')",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "breeds": {
                                    "type": "array"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "width": {
                                    "type": "integer"
                                },
                                "height": {
                                    "type": "integer"
                                }
                            },
                            "required": [
                                "breeds",
                                "id",
                                "url",
                                "width",
                                "height"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "HTTP_GET_cat_image": [
                        "Succeeded"
                    ]
                }
            },
            "Select_cat_facts": {
                "type": "Select",
                "inputs": {
                    "from": "@body('Parse_JSON_cat_facts')",
                    "select": {
                        "Fact": "@item()?['text']"
                    }
                },
                "runAfter": {
                    "Parse_JSON_cat_image": [
                        "Succeeded"
                    ],
                    "Parse_JSON_cat_facts": [
                        "Succeeded"
                    ]
                }
            },
            "Response_cat": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "text/html;charset=utf-8"
                    },
                    "body": "<html>\n<head>\n<style>\nbody {\nbackground-image: url('@{body('Parse_JSON_cat_image')[0]?['url']}');\ncolor: red;\nfont-family: Papyrus;\ntext-align: center\n}\nh1   {\ncolor: blue;\nfont-size: 4em;\nbackground-color: powderblue;\n}\ntable {\nborder-collapse:separate; \nborder-spacing:2em;\nmargin: 10% 20%;\n}\ntable tr td {\nfont-size: 2em;\nbackground-color: powderblue;\npadding: 0.5em;\n}\nthead, th {display: none;}\np {background-color: powderblue;}\n\n</style>\n</head>\n<body>\n<h1>😸 The Cat App 😸</h1>\n@{body('Create_HTML_table')}\n<p>\n🐱‍👤Kitties from <a href=\"https://thecatapi.com/\">TheCatAPI/</a>, 🐱Facts from <a href=\"https://alexwohlbruck.github.io/cat-facts/docs/\">cat-facts</a>\n</p>\n</body>\n</html>"
                },
                "runAfter": {
                    "Create_HTML_table": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateless"
}